In [1]:
from app.db_utils import (
    reset_db,
    drop_table, 
    to_df, 
    get_table_names, 
    count_records, 
    backup_table,
    get_table_schema,
    get_session,
    execute_raw_query
)
import asyncio
# from app.tasks import trigger_contest_sync
from app.crud import update_upcoming_contests
from app.database import SessionLocal

In [4]:
df = to_df("users")

df[df.trusted_score < 5]

,user_id,role,cf_handle,atcoder_handle,codechef_handle,twitter_handle,internal_default_rated,trusted_score,email_id,hashed_password,timestamp
59,uid_consolas,user,consolas,uid_consolas_ac,uid_consolas_cc,None,True,0,uid_consolas@example.com,OZSxHC6jpEJOGGBAk1n0P4Plok/qlXezxVMNHh5G8pkK94...,2025-05-28 18:17:14.632264
82,uid_EndlessDreamzz,user,EndlessDreamzz,None,None,None,True,0,uid_EndlessDreamzz@example.com,e4AXFDOqjbD2/WD4k3MG2jyRlht7RZCjWoZIWcv6HWpebp...,2025-05-28 18:17:14.632264
85,uid_shreyas333,user,shreyas333,uid_shreyas333_ac,None,None,True,1,uid_shreyas333@example.com,P5c/lkcSVqrhH7bhjKvRlEIOE6U7K3d6Vt4bSQ9ZlIx6Mx...,2025-05-28 18:17:14.632264
92,uid_akhilPrabananth,user,akhilPrabananth,uid_akhilPrabananth_ac,uid_akhilPrabananth_cc,uid_akhilPrabananth_tw,True,3,uid_akhilPrabananth@example.com,YPhBZwAWi2Nns/7rGx+eJvvVsTl3K+iT/i2/xm8b8wV9Vl...,2025-05-28 18:17:14.632264
95,uid_Danbbler,user,Danbbler,None,uid_Danbbler_cc,None,True,4,uid_Danbbler@example.com,It7ga7FIDyNIa9OWdMxfMOc3dcsZFdX1W2Cy/xsy3rWEpE...,2025-05-28 18:17:14.632264
...,...,...,...,...,...,...,...,...,...,...,...
5384,uid_CST17017,user,CST17017,uid_CST17017_ac,None,uid_CST17017_tw,True,3,uid_CST17017@example.com,mfuNCxxE5v9B6iFMSGO1ROi3v1eBUPaTKkizeF04uQMQGh...,2025-05-28 18:17:14.632264
5391,uid_Fahad06,user,Fahad06,uid_Fahad06_ac,None,None,True,0,uid_Fahad06@example.com,Iuv5x/71SVKK0AgNF88O8Cfr3QNtbNXGVWEAde8WIMyXyt...,2025-05-28 18:17:14.632264
5398,uid_MuhammetH,user,MuhammetH,uid_MuhammetH_ac,None,None,True,4,uid_MuhammetH@example.com,Pt+VerVmFJrJuPQXZYr2vDyYBp9HfvRIoyGKwN1YneBEMh...,2025-05-28 18:17:14.632264
5433,uid_amarnathsama,user,amarnathsama,None,None,uid_amarnathsama_tw,True,1,uid_amarnathsama@example.com,RYajXLcHgVXtByk9+L1HL2/FMf6RUUJPduSaO6JWp2BmHa...,2025-05-28 18:17:14.632264
5435,uid_mahiro_zcy,user,mahiro_zcy,None,None,uid_mahiro_zcy_tw,True,2,uid_mahiro_zcy@example.com,tHppr6XGrzw/5CF8uhSb+uczbN/5hm9FIGiCYhZJxmOopF...,2025-05-28 18:17:14.632264

In [17]:
some_function(**SessionLocal.__dict__)

NameError: name 'kw' is not defined

[1, 1, 2]

In [23]:
to_df("contest_participations")

,user_id,group_id,contest_id,rank,delta,rating_before,rating_after,timestamp
0,testUser1726,main,c0,None,None,1500,None,2025-05-25 16:44:27.268643
1,testUser3835,main,c0,None,None,1500,None,2025-05-25 16:44:27.268643
2,testUser3036,main,c0,None,None,1500,None,2025-05-25 16:44:27.268643
3,testUser5213,main,c0,None,None,1500,None,2025-05-25 16:44:27.268643
4,testUser4940,main,c0,None,None,1500,None,2025-05-25 16:44:27.268643
...,...,...,...,...,...,...,...,...
47167,testUser3160,g29,c3,None,None,1500,None,2025-05-25 16:44:27.268643
47168,testUser4067,g29,c3,None,None,1500,None,2025-05-25 16:44:27.268643
47169,testUser2897,g29,c3,None,None,1500,None,2025-05-25 16:44:27.268643
47170,testUser1125,g29,c3,None,None,1500,None,2025-05-25 16:44:27.268643
47171,testUser956,g29,c3,None,None,1500,None,2025-05-25 16:44:27.268643