In [7]:
from app.db_utils import (
    reset_db,
    drop_table, 
    to_df, 
    get_table_names, 
    count_records, 
    backup_table,
    get_table_schema,
    get_session,
    execute_raw_query
)
import asyncio
# from app.tasks import trigger_contest_sync
from app.crud import update_upcoming_contests
from app.database import SessionLocal

In [6]:
from CodefercesAPI import cf_apu

Empty DataFrame
Columns: [contest_id, contest_name, platform, start_time_posix, duration_seconds, link, internal_contest_identifier, standings, finished, timestamp]
Index: []

In [5]:
update_upcoming_contests(db)

In [23]:
to_df("contest_participations")

,user_id,group_id,contest_id,rank,delta,rating_before,rating_after,timestamp
0,testUser1726,main,c0,None,None,1500,None,2025-05-25 16:44:27.268643
1,testUser3835,main,c0,None,None,1500,None,2025-05-25 16:44:27.268643
2,testUser3036,main,c0,None,None,1500,None,2025-05-25 16:44:27.268643
3,testUser5213,main,c0,None,None,1500,None,2025-05-25 16:44:27.268643
4,testUser4940,main,c0,None,None,1500,None,2025-05-25 16:44:27.268643
...,...,...,...,...,...,...,...,...
47167,testUser3160,g29,c3,None,None,1500,None,2025-05-25 16:44:27.268643
47168,testUser4067,g29,c3,None,None,1500,None,2025-05-25 16:44:27.268643
47169,testUser2897,g29,c3,None,None,1500,None,2025-05-25 16:44:27.268643
47170,testUser1125,g29,c3,None,None,1500,None,2025-05-25 16:44:27.268643
47171,testUser956,g29,c3,None,None,1500,None,2025-05-25 16:44:27.268643